<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">My BabyLips Inventory</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="btn btn-primary" href="../index.html">Home</a>
      </li>      
      <li class="nav-item">       
        <a th:href="@{/inputProduct}" class="btn btn-primary ml-2" >Add Product</a>
      </li>
       <li class="nav-item">       
        <a th:href="@{/viewAll}" class="btn btn-primary ml-2" >View All Inventory</a>
      </li>
    </ul>
  </div>
</nav>
	</header>

</body>
</html>